*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* navbar styling */
nav{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Megrim', 'cursive';
    transition: all 0.3s ease;
}
nav.sticky{
    background-color: black;
    padding: 15px 0;
}
.navbar{
    max-width: 1700px;
    padding: 0px 80px;
    margin: auto;
}
nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}
nav div.left{
    color: white;
    font-size: 45px;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav .menu .menu-item a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
}
nav .menu .menu-item a:hover{
    color: crimson;
}

/* menu button styling */
.menu-btn{
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    border-color: #6c757d;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid white;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white; 
    background: none; 
    font-size: 22px;
    display: none;
}

/* home section styling */
.home{
    display: flex;
    background: url("2109.jpg") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
    margin: 5px 0;
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
    color: crimson;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content a{
    display: inline-block;
    background-color: crimson;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border: 2px solid crimson;
    border-radius: 6px;
    transition: all 0.3s ease;
    text-decoration: none;
}
.home .home-content a:hover{
    color: white;
    background: none;
}

/* responsive media query start */
@media (max-width: 920px){
    .navbar{
        padding: 0px 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    nav .menu{
        position: fixed;
        background: #111;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    nav .menu.active{
        left: 0;
    }
    nav .menu .menu-item{
        display: block;
    }
    nav .menu .menu-item a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 45px;
        color: crimson;
    }
    .home .home-content .text-3{
        font-size: 30px; 
    }
}