*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* navbar styling */
nav{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Megrim', 'cursive';
    transition: all 0.3s ease;
}
nav.sticky{
    background-color: black;
    padding: 15px 0;
}
.navbar{
    max-width: 1700px;
    padding: 0px 80px;
    margin: auto;
}
nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}
nav div.left{
    color: white;
    font-size: 45px;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav .menu .menu-item a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
nav .menu .menu-item a:hover{
    color: crimson;
}

/* home section styling */
.home{
    display: flex;
    background: url("2109.jpg") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 25px;
    margin: 5px 0;
}
.home .home-content .text-2{
    font-size: 40px;
    font-weight: 600;
    margin-left: -3px;
    color: crimson;
}
.home .home-content .text-3{
    font-size: 25px;
    margin: 5px 0;
}
.home .home-content a{
    display: inline-block;
    background-color: crimson;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border: 2px solid crimson;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: white;
    background: none;
}